#SECCION1 {
    background-color: red;
    text-align: center;
}
#SECCION2 {
    background-color: blue;
    text-align: center;
}
#SECCION3 {
    background-color: green;
    text-align: center;
}
#acusaciones2 {
    color: white;
}
#promesas {
    background-color: green;
}
#VIDABIDEN {
    text-align: center;
    color: white;
}
#principio {
    text-align: center;
    color: white;
}
#bidenpresidente {
    text-align: center;
    color: white;
}
#trump {
    text-align: center;
    color: white;
}
#odiotrump {
    text-align: center;
    color: white;
}
#ul {
    color: white;
}
#bidenpresidente2 {
    background-color:white;
    margin-left: 100px;
    margin-right: 100px;
}
#acusaciones {
    background-color:white ;
    margin-left: 100px;
    margin-right: 100px;
}
#odiotrump2 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
#odiotrump3 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
#vidabiden2 {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
}
#promesas2 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 20px;
    border: 1px solid #a12727;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #ff5959 0px 0px 40px 0px;
    -moz-box-shadow: #ff5959 0px 0px 40px 0px;
    box-shadow: #ff5959 0px 0px 40px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 23px comic sans ms;
    color: #ffffff;
    text-decoration: none;
  }
  .button:hover,
  .button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
  }
  .button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
  }
  #footer {
      text-align: center;
      background-color: white;
      padding: 20px;
  }