#SECCION1 {
    background-color: red;
    text-align: center;
}
#SECCION2 {
    background-color: blue;
    text-align: center;
}
#SECCION3 {
    background-color: green;
    text-align: center;
}
#acusaciones2 {
    color: white;
}
#promesas {
    background-color: green;
}
#VIDABIDEN {
    text-align: center;
    color: white;
}
#todo {
    text-align: center;
    color: white;
}
#bidenpresidente {
    text-align: center;
    color: white;
}
#trump {
    text-align: center;
    color: white;
}
#odiotrump {
    text-align: center;
    color: white;
}
#ul {
    color: white;
}
#bidenpresidente2 {
    background-color:white;
    margin-left: 100px;
    margin-right: 100px;
}
#acusaciones {
    background-color:white ;
    margin-left: 100px;
    margin-right: 100px;
}
#odiotrump2 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
#odiotrump3 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
#vidabiden2 {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
}
#promesas2 {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}